.body {
	background: rgb(206, 179, 185);
	flex-direction: column;
	text-align: center;
}

img {
	width: 600px;
	height: 500px;
	border-radius: 5%;

}

h1 {
	color: royalblue;
	align-items: center;
}

.box {
	text-align: center;
      }

 img {
	width: 600px;
	height: 500px;
      }

.place {
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: min-content;
}
